# Usage: pip install -r requirements.txt

# Base ----------------------------------------
setuptools
numpy>=1.23.4
seaborn>=0.12.2
torch>=1.13.1
torchvision
tqdm>=4.63.0

# Logging -------------------------------------

# Plotting ------------------------------------
matplotlib>=3.6.2
seaborn

# Export --------------------------------------
# Extras --------------------------------------