# Usage: pip install -r requirements.txt

# Base ----------------------------------------
numpy>=1.23.4
seaborn>=0.12.2
torch>=1.13.1
torchvision>=0.14.1
tqdm>=4.63.0

# Logging -------------------------------------
logging 

# Plotting ------------------------------------
matplotlib>=3.6.2
seaborn

# Export --------------------------------------
# Extras --------------------------------------